<h2>Filter</h2>
<div class="filter_controls">
    <div class="country">
        <p>Countries</p>
        <label>
             <input type="radio" ng-model="country" name="country" ng-checked="true" ng-value=""></input>Show all
        </label>
        <label data-ng-repeat="country in countries " ng-show="IsCountryVisible">
            <input type="radio" ng-model="$parent.country" name="country" value="{{country}}"></input>{{country}}
        </label>
        <input type="button" value="Toggle more filter" ng-click="ShowHideCountry()" />
    </div>
    <div class="genre">
        <p>Genre</p>
        <label>
             <input type="radio" ng-model="genre" name="genre" ng-checked="true" ng-value=""></input>Show all
        </label>
        <label data-ng-repeat="genre in genres " ng-show="IsGenreVisible">
            <input type="radio" ng-model="$parent.genre" name="genre" value="{{genre}}"></input>{{genre}}
        </label>
        <input type="button" value="Toggle more filter" ng-click="ShowHideGenre()" />
    </div>
    <div class="writer">
        <p>Writer</p>
        <label>
             <input type="radio" ng-model="writer" name="writer" ng-checked="true" ng-value=""></input>Show all
        </label>
        <label data-ng-repeat="writer in writers" ng-show="IsWriterVisible">
            <input type="radio" ng-model="$parent.writer" name="writer" value="{{writer}}"></input>{{writer}}
        </label>
        <input type="button" value="Toggle more filter" ng-click="ShowHideWriter()" />
    </div>
</div>
<hr>
<h2>Movies</h2>
<ul>
    <li class="movie-item" ng-repeat="movie in movies | filter : {Country : country} | filter : {Genre : genre} | filter : {Writer : writer}">
        <a href="#movie/{{movie.imdbID}}">
            <img ng-src="{{movie.Poster}}" on-error-src="http://www.imdb.com/images/nopicture/medium/film.png" title="{{movie.Title}}" />
            <div class="info">
                <h3>{{movie.Title}}</h3><span class="year">({{movie.Year}})</span>
                <rating class="rating" ng-model="movie.imdbRating" max="max" readonly="isReadonly"></rating> <span class="rating-points">({{movie.imdbRating}})</span>
                <div star-rating rating-value="movie.Rating"></div>
                <p>{{movie.Plot}}</p>
                <p><strong>Genre:</strong> {{movie.Genre}}</p>
            </div>
        </a>
    </li>
</ul>