<div class="movie">
    <img ng-src="{{movie.Poster}}" on-error-src="http://www.imdb.com/images/nopicture/medium/film.png" title="{{movie.Title}}" />
    <div class="info">
        <h2>{{movie.Title}}</h2><span class="year">({{movie.Year}})</span>
        <rating class="rating" ng-model="movie.imdbRating" max="max" readonly="isReadonly"></rating> <span class="rating-points">({{movie.imdbRating}})</span>
        <p>{{movie.Plot}}</p>
        <p>
            <strong>Runtime</strong><br> {{movie.Runtime}}
        </p>
        <p>
            <strong>Genre</strong><br> {{movie.Genre}}
        </p>
        <p>
            <strong>Language</strong><br> {{movie.Language}}
        </p>
        <p>
            <strong>Actors</strong><br> {{movie.Actors}}
        </p>
        <p>
            <strong>Director / Writer</strong><br> {{movie.Director}} / {{movie.Writer}}
        </p>
        <p>
            <strong>Awards</strong><br> {{movie.Awards}}
        </p>
    </div>
</div>

<a ng-href="#/">Back </a>