* {
    margin: 0;
    padding: 0;
}

body {
    font: 200 16px/1.5 Helvetica, Verdana, sans-serif;
}

.filter_controls {
    margin-bottom: 20px;
}

.filter_controls>div {
    margin-bottom: 20px;
}

label {
    font-weight: 200;
    display: inline-block;
    margin-right: 10px;
}

input[type="radio"] {
    margin-right: 5px;
}

input[type="button"] {
    display: block;
    margin: 10px 0;
    background: #eee;
    border: 0;
    padding: 5px;
    font-size: 12px;
}

.content {
    margin: 20px auto;
    width: 800px;
    max-width: 100%;
}

ul {
    list-style-type: none;
}

h3 {
    display: inline-block;
    margin-right: 10px;
    margin-top: 0;
}

.year,
.rating-points {
    font: 200 14px/1.5 Helvetica, Verdana, sans-serif;
}

.year:after {
    content: '';
    display: block;
}

.rating {
    display: inline-block;
}

.movie-item .info {
    float: left;
    width: calc(100% - 170px);
}

.movie-item img {
    float: left;
    margin: 0 15px 0 0;
    width: 150px;
    height: auto;
}

.movie-item p {
    margin: 0 0 10px 0;
}

.movie-item {
    padding: 10px;
    overflow: auto;
}

.movie-item:hover {
    background: #eee;
    cursor: pointer;
}

.glyphicon {
    font-size: 12px;
    color: #ffd700;
}

.glyphicon-star-empty {
    color: #000
}

.movie h2 {
    margin-top: 0;
    display: inline-block;
    margin-right: 10px;
}

.movie img {
    width: 300px;
    float: left;
    margin-right: 20px;
}

.movie .info {
    width: 480px;
    float: left;
}